.booking-cart-card {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 60px;
}

.booking-div table tbody tr {
    border: 2px solid rgba(128, 128, 128, 0.271);
}

.booking-cart-card tr th {
    padding: 15px 0;
    text-align: left;
}

.booking-cart-card tr th:first-child {
    padding-left: 20px;
}

.booking-cart-card tr td {
    padding: 15px 0;
    text-align: left;
}

.booking-cart-card tr td:last-child,
.booking-cart-card tr th:last-child {
    text-align: right;
    padding-right: 20px;
}

.booking-cart-card tr th:last-child {
    padding-right: 50px;
}

#date {
    border: 2px solid #ccc;
    border-radius: 3px;
    padding: 2px 5px;
    color: #007ACC;
}

.booking-cart-card img {
    width: 80px;
    margin-right: 20px;
    margin-left: 20px;
}

.booking-cart-card button {
    border: none;
    outline: none;
    padding: 10px 15px;
    background: crimson;
    color: white;
    margin-left: 15px;
    border-radius: 3px;
}

.booking-cart-card button:first-child {
    border: none;
    outline: none;
    padding: 10px 15px;
    background: #00AF80;
    color: white;
    margin-left: 15px;
}

.disabled-green{
    background: rgba(0, 175, 128, 0.356) !important;
    cursor: no-drop;
}
.disabled-red{
    background: rgba(220, 20, 60, 0.325) !important;
    cursor: no-drop;
}

.booking-pending{
    font-weight: 600;
    text-transform :capitalize;
}
.confirmed-text{
    font-weight: 600;
    text-transform :capitalize;
    color:#007ACC;
}


/*--------------------------------------------------------------------------
For mobile:  
---------------------------------------------------------------------------*/
@media only screen and (max-width:480px) {
    .first-td {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        font-weight: 500;
        font-size: 22px;
    }

    .first-td img {
        /* margin-left: 0; */
        width: 90%;
        border-radius: 5px;
        /* margin: 0; */
    }

    .booking-cart-card tr {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        border-radius: 10px;
    }

    .booking-cart-card tr td:last-child,
    .booking-cart-card tr th:last-child {
        text-align: center;
        padding-right: 0;
    }

}

/*--------------------------------------------------- 
For ipads, tablet:  
---------------------------------------------------*/
@media only screen and (min-width:481px) and (max-width:768px) {
    .first-td {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        font-weight: 500;
        font-size: 22px;
    }

    .first-td img {
        /* margin-left: 0; */
        width: 90%;
        border-radius: 5px;
        /* margin: 0; */
    }

    .booking-cart-card tr {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        border-radius: 10px;
    }

    .booking-cart-card tr td:last-child,
    .booking-cart-card tr th:last-child {
        text-align: center;
        padding-right: 0;
    }

}

/*-----------------------------------------
 For Small screen, laptop:  
-----------------------------------------*/
@media only screen and (min-width:769px) and (max-width:1200px) {

    .booking-price,
    .booking-pending {
        display: none;
    }

    .booking-cart-card tr td:first-child {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin-left: 5px;
    }

    .booking-cart-card tr {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .table-header {
        justify-content: space-between !important;
    }

    .booking-cart-card tr td:last-child {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
    }
}