.hire-me-div {
    background-repeat: no-repeat;
    background-position: left;
    background-size: auto;
    background-attachment: scroll;
  background-image: url('../../../assets/img/hire-me-img.png');
  /* background-clip: padding-box; */
}
