

.cart-div-parent{
    display: flex;
}

.cart-div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    width: 90%;

}

.cart-cards {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    /* border: 3px solid #2a2a2a; */
    border-radius: 5px;
    padding: 8px 8px;
    background: rgba(35, 167, 223, 0.145);
    width: 500px;
    /* margin-top: 30px; */
}

.cart-cards p {
    margin: 0;
}

.first-half {
    display: flex;
    /* gap: 20px; */
    justify-content: center;
    align-items: center;
    text-align: left;
}

.first-half h2 {
    font-size: 22px;
}

.first-half-img {
    border: 4px solid #253745;
    padding: 7px;
    background: white;
    max-width: 100px;
}

.first-half-img img {
    width: 100%;
}

.second-half{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center ;
    gap: 20px ;
}
.amount-icon {
    display: flex;
    /* width: 100%; */
    min-width: 150px;
    /* background: #5761ED ; */
    color: white;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}

.amount-icon span {
    cursor: pointer;
    background: #ccc;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all 0.2s;
}
.amount-icon span:hover{
    background: #253745;
}

.amount-icon p {
    font-weight: 500;
    color: #253745;
    font-weight: 600;
}

.total-price-div {
    /* margin: 20px 0; */
    font-weight: 600;
    font-size: 18px;
}

.third-half button {
    padding: 5px 15px;
    border: none;
    background: darkred;
    color: white;
    font-weight: 500;
    margin-bottom: 20px;
}

/* ------------------------
    side cart css
--------------------------*/

.sideCart-div {
    /* position: fixed;
    right: 1%;
    top: 60%;
    transform: translateY(-60%); */
    position: absolute;
    right: 30px;

    background: #383735;
    min-width: 300px;
    min-height: 400px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 10px 25px;
    color: white;
    z-index: 50;
}

.sideCart-div p {
    margin-bottom: 10px;
}

.order-summary h2 {
    font-size: 24px;
    margin-top: 20px;
}

.order-summary div {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    color: #F1C40F ;
    font-size: 18px;
    font-weight: 500;
}

.shipping-method {
    text-align: left;
    margin: 25px 0;
}

.shipping-method select,
.shipping-method input {
    width: 100%;
    padding: 5px 10px;
    border-radius: 3px;
    border: none;
    outline: none;
}

.subtotal div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total-div {
    font-size: 20px;
    font-weight: 600;
    color: #F1C40F ;
}

.hr {
    border: none;
    border-top: 3px solid white;
    margin-bottom: 10px;
    margin-top: 0;
    width: 100%;
}

.checkout-btn{
    width: 100%;
    margin: 20px 0;
    border: none;
    padding: 5px 0;
    /* color: white; */
    background: #F1C40F;
    font-weight: 600;
    transition: all 0.2s;
}
.checkout-btn:hover{
    background: white;
}

.third-half{
    margin-right: 20px;
    font-size: 25px;
    color: #ccc;
}

.third-half:hover{
    color: #383735;
    cursor: pointer;
}
.third-half p{
    font-size: 14px;
}