.profile-div {
    border: 3px solid;
    background: white !important;
    border-radius: 5px;
    padding: 15px 30px;
    min-height: 50vh;
    margin-top: 50px;
}

/* --- css for profile header --- */

.profile-header-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 60px;
    border-bottom: 2px solid grey;
}

.profile-header-left {
    margin-bottom: -25px;
    /* margin-left: 5px; */
}

.profile-header-left a {
    margin-right: 25px;
    text-decoration: none;
    color: #2a2a2a;
    font-weight: 600;
    font-size: 20px;
}

.profile-header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.profile-header-right img {
    width: 40px;
    margin-left: 10px;
    border-radius: 50%;
}

.profile-header-right p {
    margin: 0;
    font-weight: 600;
    color: #5761ED;
    font-size: 20px;
}

.activeHeader {
    color: #00AF80 !important;
    border-left: 2px solid grey;
    border-right: 2px solid grey;
    border-top: 2px solid grey;
    background: white;
    border-radius: 10px 10px 0px 0px;
    padding: 5px 15px 0 15px;
}



/*--------------------------------------------------------------------------
For mobile:  
---------------------------------------------------------------------------*/
@media only screen and (max-width:480px) {
    .profile-header-div {
        display: flex;
        flex-direction: column-reverse;
        row-gap: 30px;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 60px;
        border-bottom: none;
    }

    .profile-header-left {
        margin-bottom: 0px;
        /* padding: 20px 0; */
        display: flex;
        flex-wrap: wrap;
        row-gap: 5px;
        justify-content: center;
        align-items: center;
        padding-bottom: 15px;
        border-bottom: 2px solid grey
    }

    .profile-header-left a {
    margin-right: 15px;
    margin-top: 0;
    text-decoration: none;
    color: #2a2a2a;
    font-weight: 600 ;
    font-size: 20px;
    padding: 5px 10px;
    border: 2px solid white;
}

    .activeHeader {
        color: #00AF80 !important;
        border: 2px solid grey !important;
        /* border-right: 2px solid grey;
        border-top: 2px solid grey;
        background: white; */
        border-radius: 5px ;
        padding: 5px 10px;
        font-size: 20px;
        /* font-weight: 700 !important; */
        margin-top: 0;
    }

}

/*--------------------------------------------------- 
For ipads, tablet:  
---------------------------------------------------*/
@media only screen and (min-width:481px) and (max-width:768px) {}