.dashboard-header {
  background-image: url(https://png.pngtree.com/background/20210715/original/pngtree-plant-shadow-with-green-wallpaper-svg-picture-image_1259492.jpg);
  /* background-image: url('../../../../../assets/img/background\ img.jpg'); */
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
