


.fade-enter {
    opacity: 0;
  }
  .fade-enter-active {
    opacity: 1;
    transition: all 1s ease-in-out;
  }
  .fade-exit {
    opacity: 1;
  }
  .fade-exit-active {
    opacity: 0;
    /* transition: opacity 0ms; */
  }
  .my-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }
  