
.mini-popup{
    position: fixed;
    bottom: 10%;
    right: 5%;
}

.booking-cart{
    /* width: 60px; */
    cursor: pointer;
}
.booking-cart-child{
    width: 50px;
    position: relative;
}
.booking-cart-child span{
    font-size: 22px;
    font-weight: 600;
    position: absolute;
    top: -15px;
    right: -10px;
    background: crimson;
    width: 35px;
    height: 35px;
    color: white;
    margin: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.booking-cart-child span p{
    margin: 0;
}
.booking-cart img{
    width: 100%;
}