

.myServices-div{
    width: 90%;
    margin: 0 auto;
}
.wedding-packages-div , .portrait-packages-div{
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 25px;
    margin: 30px 0;
}
.pacakge-heading{
    color: orangered;
    margin-top: 50px;
    font-weight: 600;
}


