

.hideMe{
    display: none;
}

.catagory{
    display: flex;
    flex-wrap: wrap;
    margin: 5px auto;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-bottom: 30px;
}
.catagory p{
    margin-bottom: 0;
    font-weight: 600;
    font-size: 20px;
}

.catagory-detail{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 10px;
}
.catagory-detail button{
    outline: none;
    border: 3px solid #045B62;
    background: white;
    padding: 5px 13px;
}

.product-title{
    color: crimson;
}


/* --- pagination styling --- */
.pagination{
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    gap: 20px;
    flex-wrap: wrap;
    padding: 0 20px;
}
.pagination button {
    outline: none;
    border: 2px solid #2A2A2A;
    background: white;
    color: #2A2A2A;
    padding: 5px 20px;
    font-size: 23px;
    font-weight: 600;
}
.pagination select {
    outline: none;
    border: 3px solid teal;
    background: white;
    color: #2A2A2A;
    padding: 5px 0;
    font-size: 23px;
    font-weight: 700;
    border-radius: 5px;
    /* font-style: italic; */
    padding-left: 10px;
    color: crimson;
}
.pagination .selectedButton{
    background: #045B62;
    color: white;
}