
/* -------------------- 
css codes for banner 
-------------------------*/

.banner-div{
    margin: auto;
    padding: 0 10px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.5);
    background: linear-gradient(45deg, #EDF1FD, #ccc);
}
.banner-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-left p:first-child{
    font-size: 14px;
}

.banner-left h1{
    font-size: 46px;
    font-weight: 600;
}
.special-color{
    color: #2D3F4D;
}
.banner-left-header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-right img{
    width: 500px;
}
.banner-div{
    width: 90%;
}
@media only screen and (max-width:995px){
    .banner-div{
        width: 90%;
    }
    .banner-right img{
        width: 100%;
    }
    .banner-left-header{
        margin-top: 80px;
    }
}