
/* -------------------- 
css codes for about section which is shown after the banner in home page
-------------------------*/



.about-div{
    margin: 60px 0;
    width: 90%;
    overflow: hidden;
}

.first-part{
    position: relative;
}


.second-part-left{
    background: white;
    border-top: 5px solid #253745;
    border-bottom: 5px solid #253745;
    border-left: 5px solid #253745;
    padding: 10px 15px;
}
.second-part-left p{
    font-weight: 600 ;
    font-size: 18px;
    margin: 0;
}
.second-part-left.active{
    left: 0;
}

.second-part-right{
    background: white;
    border-top: 5px solid #F1341E;
    border-bottom: 5px solid #F1341E;
    border-right: 5px solid #F1341E;
    padding: 10px 15px;
    font-weight: 600;
    height: 300px;
}
.second-part-right.active{
    right: 0;
}


.second-part-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.second-part-img img{
    width: 100%;    
    border-radius: 5px;
    border: 3px solid #253745;
}
.second-part-img{
    border: 3px solid #253745;
    width: 200px;
    position: relative;
    border-radius: 5px;
    padding: 5px;
}

@media only screen and (max-width:767px){

    .second-part-right{
        width: 50%;
    }
}