

.contact-parent{
    background: white;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
}

.contact-form{
    /* border: 2px solid; */
    width: 90%;
    margin:  0 auto;
}
.contact-left{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-left img{
    width: 90%;
    border: 5px solid ;    padding: 15px;
    box-shadow: 0 5px 7px rgba(0,0,0,0.5) ;
}

.input-field{
    position: relative;
    margin: 30px 0;
}
.input-field input {
    width: 100%;
    height: 50px;
    border: 3px solid #334E60;
    padding: 0 15px;
    color: #334E60;
    box-sizing: border-box;
    /* z-index: 50; */
    background: transparent;
    position: relative;
    outline: none;
}
.input-field textarea{
    width: 100%;
    border: 3px solid #334E60;
    padding: 25px 15px;
    color: #334E60;
    box-sizing: border-box;
    /* z-index: 50; */
    background: transparent;
    position: relative;
    outline: none;
}
.input-field span{
    position: absolute;
    display: inline-block;
    top: 7px;
    left: 15px;
    color: #334E60;
    /* z-index: 20; */
    transition: all 0.3s ease;
    background: white;
    pointer-events: none;
    font-size: 18px;
    padding: 3px 5px 1px 5px;
}
.message-button-div{
    text-align: left;
}
.message-button-div button{
    /* margin-bottom:5px ; */
    margin-top: -10px;
    height: 50px;
    padding: 0 20px;
    background: #334E60;
    color: white;
    font-weight: 500;
    font-size: 18px;
    border: none;
    box-shadow: 0 5px 7px rgba(0,0,0,0.5) ;
}

.input-field input:focus ~ .input-placeholder , 
.input-field input:valid ~ .input-placeholder  {
    transform: translateY(-20px) translateX(-5px);
    color: black;
    font-size: 16px;
    font-weight: 600;
}
.input-field textarea:focus ~ .input-placeholder , 
.input-field textarea:valid ~ .input-placeholder  {
    transform: translateY(-20px) translateX(-5px);
    color: black;
    font-size: 16px;
    font-weight: 600;
}