

.home-my-shop{
}
.product-show-div{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    width: 90%;
    margin: auto;
}

.loadMoreButton{
    margin: 40px 25px;
    width: 300px;
    height: 50px;
    font-weight: 600;
    font-size: 20px;
    transition: all 0.2s;
}
.loadMoreButton:hover{
    background: #FED01A;
    color: #2a2a2a;
    border: none;
}
.loading-text{
    display: none;
}

@media only screen and (max-width:1040px){
    .product-show-div{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        width: 90%;
        margin: auto;
    }
}